* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0326;
    font-family: 'Nunito', sans-serif;
    color: #f5f7dc;
}

header {
    margin: 6em auto 10em;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

#tic {
    color: #ffff82;
}

#tac {
    color: #e65f5c;
}

#toe {
    color: #b5d99c;
}

.grid {
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.square {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.symbol {
    font-size: 6rem;
}

.x {
    color: #ffff82;
}

.o {
    color: #b5d99c;
}

.line {
    position: absolute;
    background-color: #f5f7dc;
}

.hline {
    width: 360px;
    height: 2px;
}

.vline {
    width: 2px;
    height: 360px;
}

#hline1 {
    top: 120px;
}

#hline2 {
    bottom: 120px;
}

#vline1 {
    left: 120px;
}

#vline2 {
    right: 120px;
}

.game-status {
    text-align: center;
    margin-top: 4em;
}

#message {
    font-size: 1.1rem;
}

#btn-status {
    background-color: #f5f7dc;
    color: #0f0326;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-left: 1em;
    cursor: pointer;
}
